[33mcommit e07fff457b6152a7b1f1debfd5d780d59d6c51ce[m
Author: ney <fredneyparra0@gmail.com>
Date:   Thu Jan 28 23:04:13 2021 -0400

    v01

[1mdiff --git a/app.js b/app.js[m
[1mnew file mode 100644[m
[1mindex 0000000..309d613[m
[1m--- /dev/null[m
[1m+++ b/app.js[m
[36m@@ -0,0 +1,53 @@[m
[32m+[m[32mconst inputName = document.getElementById('inputName');[m
[32m+[m[32mconst inputEmail = document.getElementById('inputEmail');[m
[32m+[m[32mconst inputAge = document.getElementById('inputAge');[m
[32m+[m[32mconst inputCountry = document.getElementById('inputCountry');[m
[32m+[m[32mconst inputDni = document.getElementById('inputDni');[m
[32m+[m[32mconst buttonPrint = document.getElementById('buttonPrint');[m
[32m+[m[32mconst table = document.getElementById('table');[m
[32m+[m
[32m+[m[32mconst countrys = ['Venezuela','Colombia','Peru','Chile'];[m
[32m+[m
[32m+[m[32mfor (let i = 0; i < countrys.length; i++) {[m
[32m+[m[32m    const option = document.createElement('option');[m
[32m+[m[32m    option.textContent = countrys[i];[m
[32m+[m[32m    option.setAttribute('value',countrys[i]);[m
[32m+[m[32m    inputCountry.appendChild(option);[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32mbuttonPrint.addEventListener('submit',(e) => {[m
[32m+[m[32m    e.preventDefault();[m
[32m+[m[32m    const tr = document.createElement('tr');[m
[32m+[m[41m    [m
[32m+[m[32m    const thName = document.createElement('th');[m
[32m+[m[32m    thName.className= 'th';[m
[32m+[m[32m    thName.textContent = inputName.value;[m
[32m+[m[32m    tr.appendChild(thName);[m
[32m+[m[32m    inputName.value = '';[m
[32m+[m
[32m+[m[32m    const thEmail = document.createElement('th');[m
[32m+[m[32m    thEmail.className = 'th';[m
[32m+[m[32m    thEmail.textContent = inputEmail.value;[m
[32m+[m[32m    tr.appendChild(thEmail);[m
[32m+[m[32m    inputEmail.value = '';[m
[32m+[m
[32m+[m[32m    const thAge = document.createElement('th');[m
[32m+[m[32m    thAge.className = 'th';[m
[32m+[m[32m    thAge.textContent = inputAge.value;[m
[32m+[m[32m    tr.appendChild(thAge);[m
[32m+[m[32m    inputAge.value = '';[m
[32m+[m
[32m+[m[32m    const thCountry = document.createElement('th');[m
[32m+[m[32m    thCountry.className = 'th';[m
[32m+[m[32m    thCountry.textContent = inputCountry.value;[m
[32m+[m[32m    tr.appendChild(thCountry);[m
[32m+[m[32m    inputCountry.value = '';[m
[32m+[m
[32m+[m[32m    const thDni = document.createElement('th');[m
[32m+[m[32m    thDni.className = 'th';[m
[32m+[m[32m    thDni.textContent = inputDni.value;[m
[32m+[m[32m    tr.appendChild(thDni);[m
[32m+[m[32m    inputDni.value = '';[m
[32m+[m
[32m+[m[32m    table.appendChild(tr);[m
[32m+[m[32m});[m
[1mdiff --git a/css/main.css b/css/main.css[m
[1mnew file mode 100644[m
[1mindex 0000000..e8d36f8[m
[1m--- /dev/null[m
[1m+++ b/css/main.css[m
[36m@@ -0,0 +1,147 @@[m
[32m+[m[32m*{[m
[32m+[m[32m    padding: 0;[m
[32m+[m[32m    margin: 0;[m
[32m+[m[32m    box-sizing: border-box;[m
[32m+[m[32m    scroll-behavior: smooth;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/*-------------------------Variables Globales[m
[32m+[m[32m*/[m
[32m+[m[32m:root{[m
[32m+[m[32m    --green:#71e33f;[m
[32m+[m[32m    --gray: rgb(90 155 177);[m
[32m+[m[32m    --lightgray: #eae9e900;[m
[32m+[m[32m    --font1:'Raleway', sans-serif;[m
[32m+[m[32m}[m
[32m+[m[32m/*-------------------------Header[m
[32m+[m[32m*/[m
[32m+[m[32m.header{[m
[32m+[m[32m    background-color: var(--green);[m
[32m+[m[32m    display: flex;[m
[32m+[m[32m    justify-content: space-between;[m
[32m+[m[32m    align-items: center;[m
[32m+[m[32m}[m
[32m+[m[32m.img-header a img{[m
[32m+[m[32m    height: 100px;[m
[32m+[m[32m    margin-left: 15px;[m
[32m+[m[32m}[m
[32m+[m[32m.button-header button{[m
[32m+[m[32m    border: 1px solid white;[m
[32m+[m[32m    color: white;[m
[32m+[m[32m    padding: 10px;[m
[32m+[m[32m    font-size: 18px;[m
[32m+[m[32m    border-radius: 4px;[m
[32m+[m[32m    background-color: rgba(255, 0, 0, 0);[m
[32m+[m[32m    margin-right: 20px;[m
[32m+[m[32m    cursor: pointer;[m
[32m+[m[32m}[m
[32m+[m[32m.button-header button:hover{[m
[32m+[m[32m    background-color: rgb(96 179 59);[m
[32m+[m[32m}[m
[32m+[m[32m/*-------------------------Form and Emails[m
[32m+[m[32m*/[m
[32m+[m[32m/*-------------------------Form[m
[32m+[m[32m*/[m
[32m+[m[32m.container-page{[m
[32m+[m[32m    display: flex;[m
[32m+[m[32m}[m
[32m+[m[32m.articles{[m
[32m+[m[32m    display: grid;[m
[32m+[m[32m    width: 40%;[m
[32m+[m[32m    margin: auto;[m
[32m+[m[32m    margin-top: 20px;[m
[32m+[m[32m    background-color: lightgray;[m
[32m+[m[32m    padding: 10px;[m
[32m+[m[32m    border-left: 5px solid var(--green);[m
[32m+[m[32m    box-sizing: content-box;[m
[32m+[m[32m}[m
[32m+[m[32mlabel,input,select{[m
[32m+[m[32m    margin-top: 10px;[m
[32m+[m[32m    text-transform: capitalize;[m
[32m+[m[32m    font-family: Arial, Helvetica, sans-serif;[m
[32m+[m[32m    display: block;[m
[32m+[m[32m    width: 95%;[m
[32m+[m[32m}[m
[32m+[m[32minput,select{[m
[32m+[m[32m    padding: 5px;[m
[32m+[m[32m}[m
[32m+[m[32m.articles button{[m
[32m+[m[32m    margin: auto;[m
[32m+[m[32m    margin-top: 10px;[m
[32m+[m[32m    width: 95%;[m
[32m+[m[32m    border-radius: 4px;[m
[32m+[m[32m    font-family: Arial, Helvetica, sans-serif;[m
[32m+[m[32m    padding: 5px;[m
[32m+[m[32m    background-color: rgb(56, 56, 56);[m
[32m+[m[32m    border: 1px solid lightgray;[m
[32m+[m[32m    color: white;[m
[32m+[m[32m    font-size: 16px;[m
[32m+[m[32m    text-transform: uppercase;[m
[32m+[m[32m    cursor: pointer;[m
[32m+[m[32m}[m
[32m+[m[32m.one{[m
[32m+[m[32m    width: 30%;[m
[32m+[m[32m}[m
[32m+[m[32m.two{[m
[32m+[m[32m    width: 60%;[m
[32m+[m[32m}[m
[32m+[m[32m.articles button:hover{[m
[32m+[m[32m    background-color: rgb(65, 65, 65);[m
[32m+[m[32m}[m
[32m+[m[32m/*-------------------------Email[m
[32m+[m[32m*/[m
[32m+[m[32m.th{[m
[32m+[m[32m    border-bottom: 1px solid black;[m
[32m+[m[32m    color: rgb(59, 59, 59);[m
[32m+[m[32m    text-transform: capitalize;[m
[32m+[m[32m}[m
[32m+[m[32mtable{[m
[32m+[m[32m    background-color: rgb(231, 231, 231);[m
[32m+[m[32m    font-family: Arial, Helvetica, sans-serif;[m
[32m+[m[32m}[m
[32m+[m[32m.title{[m
[32m+[m[32m    color: rgb(16, 38, 87);[m
[32m+[m[32m}[m
[32m+[m[32m/*-------------------------Footer[m
[32m+[m[32m*/[m
[32m+[m[32mfooter{[m
[32m+[m[32m    background-color: var(--green);[m
[32m+[m[32m    text-align: center;[m
[32m+[m[32m    margin-top: 20px;[m
[32m+[m[32m    height: 128px;[m
[32m+[m[32m}[m
[32m+[m[32mfooter p{[m
[32m+[m[32m    padding-top: 100px;[m
[32m+[m[32m    text-transform: capitalize;[m
[32m+[m[32m    font-family: Arial, Helvetica, sans-serif;[m
[32m+[m[32m    color: white;[m
[32m+[m[32m    font-weight: 600;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m@media (max-width: 1018px){[m
[32m+[m[32m    tbody{[m
[32m+[m[32m        font-size: 14px;[m
[32m+[m[32m    }[m
[32m+[m[32m}[m[41m    [m
[32m+[m[32m@media (max-width: 767px){[m
[32m+[m[32m    .container-page{[m
[32m+[m[32m        display: block;[m
[32m+[m[32m        margin: auto;[m
[32m+[m[32m    }[m
[32m+[m[32m    .one,.two{[m
[32m+[m[32m        width: 85%;[m
[32m+[m[32m    }[m
[32m+[m[32m    #table{[m
[32m+[m[32m        font-size: 11px;[m
[32m+[m[32m    }[m
[32m+[m[32m}[m[41m   [m
[32m+[m[32m@media (max-with: 570px){[m
[32m+[m[32m    #table{[m
[32m+[m[32m        font-size: 8px;[m
[32m+[m[32m    }[m
[32m+[m[32m}[m
[32m+[m[32m@media (max-width: 429px){[m
[32m+[m[32m    #table{[m
[32m+[m[32m        font-size: 7px;[m
[32m+[m[32m    }[m
[32m+[m[32m}[m
\ No newline at end of file[m
[1mdiff --git a/img/start.png b/img/start.png[m
[1mnew file mode 100755[m
[1mindex 0000000..1fb314d[m
Binary files /dev/null and b/img/start.png differ
[1mdiff --git a/index.html b/index.html[m
[1mnew file mode 100644[m
[1mindex 0000000..ff21b46[m
[1m--- /dev/null[m
[1m+++ b/index.html[m
[36m@@ -0,0 +1,66 @@[m
[32m+[m[32m!DOCTYPE html>[m
[32m+[m[32m<html lang="en">[m
[32m+[m[32m    <head>[m
[32m+[m[32m        <meta charset="UTF-8">[m
[32m+[m[32m        <meta name="viewport" content="width=device-width, initial-scale=1.0">[m
[32m+[m[32m        <link rel="stylesheet" href="css/main1.css">[m
[32m+[m[32m        <link rel="preconnect" href="https://fonts.gstatic.com">[m
[32m+[m[32m        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,200&display=swap" rel="stylesheet">[m
[32m+[m[32m        <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">[m
[32m+[m[32m        <title>Print Email</title>[m
[32m+[m[32m    </head>[m
[32m+[m[32m    <body>[m
[32m+[m[32m        <!-- Header -->[m
[32m+[m[32m        <header class="header">[m
[32m+[m[32m            <div class="img-header">[m
[32m+[m[32m                <a href="#">[m
[32m+[m[32m                    <img src="img/logo.png">[m
[32m+[m[32m                </a>[m
[32m+[m[32m            </div>[m[41m    [m
[32m+[m[32m            <div class="button-header">[m
[32m+[m[32m                <button>Social Networks</button>[m
[32m+[m[32m            </div>[m
[32m+[m[32m        </header>[m
[32m+[m[32m        <!-- Form and Emails -->[m
[32m+[m[32m        <section class="container-page">[m
[32m+[m[32m            <article class="articles one">[m
[32m+[m[32m                    <form id="form">[m
[32m+[m
[32m+[m[32m                    <label for="name">First Name</label>[m
[32m+[m[32m                    <input type="text" for="Name" id="inputName" required>[m
[32m+[m
[32m+[m[32m                    <label for="email">Email</label>[m
[32m+[m[32m                    <input type="email" for="email" id="inputEmail" required>[m
[32m+[m
[32m+[m[32m                    <label for="age">Age</label>[m
[32m+[m[32m                    <input type="number" for="age" id="inputAge" required>[m
[32m+[m
[32m+[m[32m                    <label for="country">Country</label>[m
[32m+[m[32m                    <select for="country" id="inputCountry" required>[m
[32m+[m[32m                    </select>[m
[32m+[m
[32m+[m[32m                    <label for="dni">Dni</label>[m
[32m+[m[32m                    <input type="number" for="dni" id="inputDni" required>[m
[32m+[m
[32m+[m[32m                    <button id="buttonPrint">Print</button>[m
[32m+[m[32m                </form>[m
[32m+[m[32m            </article>[m
[32m+[m[32m            <article class="articles two">[m
[32m+[m[32m                <table id="table">[m
[32m+[m[32m                    <tr>[m
[32m+[m[32m                        <th class="th title">Name</th>[m
[32m+[m[32m                        <th class="th title">Email</th>[m
[32m+[m[32m                        <th class="th title">Age</th>[m
[32m+[m[32m                        <th class="th title">Country</th>[m
[32m+[m[32m                        <th class="th title">Dni</th>[m
[32m+[m[32m                    </tr>[m
[32m+[m[32m                </table>[m
[32m+[m[32m            </article>[m
[32m+[m[32m        </section>[m
[32m+[m[32m        <footer>[m
[32m+[m[32m            <p>@Todos los derechos reservados</p>[m
[32m+[m[32m        </footer>[m
[32m+[m
[32m+[m[32m        <script src="app.js"></script>[m
[32m+[m[32m    </body>[m
[32m+[m[32m</html>[m

[33mcommit d95cc960a0bd7b644f5f032240d1be5baa22eb24[m[33m ([m[1;36mHEAD -> [m[1;32mcabecera[m[33m)[m
Author: ney <fredneyparra0@gmail.com>
Date:   Fri Jan 29 11:05:07 2021 -0400

    cambio a header, background y retoque al form

[1mdiff --git a/css/main.css b/css/main.css[m
[1mindex e8d36f8..892fb44 100644[m
[1m--- a/css/main.css[m
[1m+++ b/css/main.css[m
[36m@@ -3,12 +3,13 @@[m
     margin: 0;[m
     box-sizing: border-box;[m
     scroll-behavior: smooth;[m
[32m+[m[32m    font-family: Arial, Helvetica, sans-serif;[m
 }[m
 [m
 /*-------------------------Variables Globales[m
 */[m
 :root{[m
[31m-    --green:#71e33f;[m
[32m+[m[32m    --newViolet : rgb(92, 75, 210);[m
     --gray: rgb(90 155 177);[m
     --lightgray: #eae9e900;[m
     --font1:'Raleway', sans-serif;[m
[36m@@ -16,13 +17,13 @@[m
 /*-------------------------Header[m
 */[m
 .header{[m
[31m-    background-color: var(--green);[m
[32m+[m[32m    background-color: var(--newViolet);[m
     display: flex;[m
     justify-content: space-between;[m
     align-items: center;[m
 }[m
 .img-header a img{[m
[31m-    height: 100px;[m
[32m+[m[32m    height: 60px;[m
     margin-left: 15px;[m
 }[m
 .button-header button{[m
[36m@@ -34,9 +35,10 @@[m
     background-color: rgba(255, 0, 0, 0);[m
     margin-right: 20px;[m
     cursor: pointer;[m
[32m+[m[32m    font-family: Arial, Helvetica, sans-serif;[m
 }[m
 .button-header button:hover{[m
[31m-    background-color: rgb(96 179 59);[m
[32m+[m[32m    background-color: rgb(58, 47, 128);[m
 }[m
 /*-------------------------Form and Emails[m
 */[m
[36m@@ -52,7 +54,7 @@[m
     margin-top: 20px;[m
     background-color: lightgray;[m
     padding: 10px;[m
[31m-    border-left: 5px solid var(--green);[m
[32m+[m[32m    border-left: 5px solid var(--newViolet);[m
     box-sizing: content-box;[m
 }[m
 label,input,select{[m
[36m@@ -62,7 +64,7 @@[m [mlabel,input,select{[m
     display: block;[m
     width: 95%;[m
 }[m
[31m-input,select{[m
[32m+[m[32minput, select{[m
     padding: 5px;[m
 }[m
 .articles button{[m
[36m@@ -94,6 +96,7 @@[m [minput,select{[m
     border-bottom: 1px solid black;[m
     color: rgb(59, 59, 59);[m
     text-transform: capitalize;[m
[32m+[m[32m    font-weight: 400;[m
 }[m
 table{[m
     background-color: rgb(231, 231, 231);[m
[36m@@ -105,17 +108,16 @@[m [mtable{[m
 /*-------------------------Footer[m
 */[m
 footer{[m
[31m-    background-color: var(--green);[m
[32m+[m[32m    background-color: var(--newViolet);[m
     text-align: center;[m
     margin-top: 20px;[m
[31m-    height: 128px;[m
[32m+[m[32m    height: 105px;[m
 }[m
 footer p{[m
[31m-    padding-top: 100px;[m
[32m+[m[32m    padding-top: 20px;[m
     text-transform: capitalize;[m
     font-family: Arial, Helvetica, sans-serif;[m
     color: white;[m
[31m-    font-weight: 600;[m
 }[m
 [m
 @media (max-width: 1018px){[m
[1mdiff --git a/css/normalize.css b/css/normalize.css[m
[1mnew file mode 100644[m
[1mindex 0000000..192eb9c[m
[1m--- /dev/null[m
[1m+++ b/css/normalize.css[m
[36m@@ -0,0 +1,349 @@[m
[32m+[m[32m/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */[m
[32m+[m
[32m+[m[32m/* Document[m
[32m+[m[32m   ========================================================================== */[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * 1. Correct the line height in all browsers.[m
[32m+[m[32m * 2. Prevent adjustments of font size after orientation changes in iOS.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32mhtml {[m
[32m+[m[32m  line-height: 1.15; /* 1 */[m
[32m+[m[32m  -webkit-text-size-adjust: 100%; /* 2 */[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/* Sections[m
[32m+[m[32m   ========================================================================== */[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * Remove the margin in all browsers.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32mbody {[m
[32m+[m[32m  margin: 0;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * Render the `main` element consistently in IE.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32mmain {[m
[32m+[m[32m  display: block;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * Correct the font size and margin on `h1` elements within `section` and[m
[32m+[m[32m * `article` contexts in Chrome, Firefox, and Safari.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32mh1 {[m
[32m+[m[32m  font-size: 2em;[m
[32m+[m[32m  margin: 0.67em 0;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/* Grouping content[m
[32m+[m[32m   ========================================================================== */[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * 1. Add the correct box sizing in Firefox.[m
[32m+[m[32m * 2. Show the overflow in Edge and IE.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32mhr {[m
[32m+[m[32m  box-sizing: content-box; /* 1 */[m
[32m+[m[32m  height: 0; /* 1 */[m
[32m+[m[32m  overflow: visible; /* 2 */[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * 1. Correct the inheritance and scaling of font size in all browsers.[m
[32m+[m[32m * 2. Correct the odd `em` font sizing in all browsers.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32mpre {[m
[32m+[m[32m  font-family: monospace, monospace; /* 1 */[m
[32m+[m[32m  font-size: 1em; /* 2 */[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/* Text-level semantics[m
[32m+[m[32m   ========================================================================== */[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * Remove the gray background on active links in IE 10.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32ma {[m
[32m+[m[32m  background-color: transparent;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * 1. Remove the bottom border in Chrome 57-[m
[32m+[m[32m * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32mabbr[title] {[m
[32m+[m[32m  border-bottom: none; /* 1 */[m
[32m+[m[32m  text-decoration: underline; /* 2 */[m
[32m+[m[32m  text-decoration: underline dotted; /* 2 */[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * Add the correct font weight in Chrome, Edge, and Safari.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32mb,[m
[32m+[m[32mstrong {[m
[32m+[m[32m  font-weight: bolder;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * 1. Correct the inheritance and scaling of font size in all browsers.[m
[32m+[m[32m * 2. Correct the odd `em` font sizing in all browsers.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32mcode,[m
[32m+[m[32mkbd,[m
[32m+[m[32msamp {[m
[32m+[m[32m  font-family: monospace, monospace; /* 1 */[m
[32m+[m[32m  font-size: 1em; /* 2 */[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * Add the correct font size in all browsers.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32msmall {[m
[32m+[m[32m  font-size: 80%;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * Prevent `sub` and `sup` elements from affecting the line height in[m
[32m+[m[32m * all browsers.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32msub,[m
[32m+[m[32msup {[m
[32m+[m[32m  font-size: 75%;[m
[32m+[m[32m  line-height: 0;[m
[32m+[m[32m  position: relative;[m
[32m+[m[32m  vertical-align: baseline;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32msub {[m
[32m+[m[32m  bottom: -0.25em;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32msup {[m
[32m+[m[32m  top: -0.5em;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/* Embedded content[m
[32m+[m[32m   ========================================================================== */[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * Remove the border on images inside links in IE 10.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32mimg {[m
[32m+[m[32m  border-style: none;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/* Forms[m
[32m+[m[32m   ========================================================================== */[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * 1. Change the font styles in all browsers.[m
[32m+[m[32m * 2. Remove the margin in Firefox and Safari.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32mbutton,[m
[32m+[m[32minput,[m
[32m+[m[32moptgroup,[m
[32m+[m[32mselect,[m
[32m+[m[32mtextarea {[m
[32m+[m[32m  font-family: inherit; /* 1 */[m
[32m+[m[32m  font-size: 100%; /* 1 */[m
[32m+[m[32m  line-height: 1.15; /* 1 */[m
[32m+[m[32m  margin: 0; /* 2 */[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * Show the overflow in IE.[m
[32m+[m[32m * 1. Show the overflow in Edge.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32mbutton,[m
[32m+[m[32minput { /* 1 */[m
[32m+[m[32m  overflow: visible;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * Remove the inheritance of text transform in Edge, Firefox, and IE.[m
[32m+[m[32m * 1. Remove the inheritance of text transform in Firefox.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32mbutton,[m
[32m+[m[32mselect { /* 1 */[m
[32m+[m[32m  text-transform: none;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * Correct the inability to style clickable types in iOS and Safari.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32mbutton,[m
[32m+[m[32m[type="button"],[m
[32m+[m[32m[type="reset"],[m
[32m+[m[32m[type="submit"] {[m
[32m+[m[32m  -webkit-appearance: button;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * Remove the inner border and padding in Firefox.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32mbutton::-moz-focus-inner,[m
[32m+[m[32m[type="button"]::-moz-focus-inner,[m
[32m+[m[32m[type="reset"]::-moz-focus-inner,[m
[32m+[m[32m[type="submit"]::-moz-focus-inner {[m
[32m+[m[32m  border-style: none;[m
[32m+[m[32m  padding: 0;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * Restore the focus styles unset by the previous rule.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32mbutton:-moz-focusring,[m
[32m+[m[32m[type="button"]:-moz-focusring,[m
[32m+[m[32m[type="reset"]:-moz-focusring,[m
[32m+[m[32m[type="submit"]:-moz-focusring {[m
[32m+[m[32m  outline: 1px dotted ButtonText;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * Correct the padding in Firefox.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32mfieldset {[m
[32m+[m[32m  padding: 0.35em 0.75em 0.625em;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * 1. Correct the text wrapping in Edge and IE.[m
[32m+[m[32m * 2. Correct the color inheritance from `fieldset` elements in IE.[m
[32m+[m[32m * 3. Remove the padding so developers are not caught out when they zero out[m
[32m+[m[32m *    `fieldset` elements in all browsers.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32mlegend {[m
[32m+[m[32m  box-sizing: border-box; /* 1 */[m
[32m+[m[32m  color: inherit; /* 2 */[m
[32m+[m[32m  display: table; /* 1 */[m
[32m+[m[32m  max-width: 100%; /* 1 */[m
[32m+[m[32m  padding: 0; /* 3 */[m
[32m+[m[32m  white-space: normal; /* 1 */[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * Add the correct vertical alignment in Chrome, Firefox, and Opera.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32mprogress {[m
[32m+[m[32m  vertical-align: baseline;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * Remove the default vertical scrollbar in IE 10+.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32mtextarea {[m
[32m+[m[32m  overflow: auto;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * 1. Add the correct box sizing in IE 10.[m
[32m+[m[32m * 2. Remove the padding in IE 10.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32m[type="checkbox"],[m
[32m+[m[32m[type="radio"] {[m
[32m+[m[32m  box-sizing: border-box; /* 1 */[m
[32m+[m[32m  padding: 0; /* 2 */[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * Correct the cursor style of increment and decrement buttons in Chrome.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32m[type="number"]::-webkit-inner-spin-button,[m
[32m+[m[32m[type="number"]::-webkit-outer-spin-button {[m
[32m+[m[32m  height: auto;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * 1. Correct the odd appearance in Chrome and Safari.[m
[32m+[m[32m * 2. Correct the outline style in Safari.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32m[type="search"] {[m
[32m+[m[32m  -webkit-appearance: textfield; /* 1 */[m
[32m+[m[32m  outline-offset: -2px; /* 2 */[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * Remove the inner padding in Chrome and Safari on macOS.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32m[type="search"]::-webkit-search-decoration {[m
[32m+[m[32m  -webkit-appearance: none;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * 1. Correct the inability to style clickable types in iOS and Safari.[m
[32m+[m[32m * 2. Change font properties to `inherit` in Safari.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32m::-webkit-file-upload-button {[m
[32m+[m[32m  -webkit-appearance: button; /* 1 */[m
[32m+[m[32m  font: inherit; /* 2 */[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/* Interactive[m
[32m+[m[32m   ========================================================================== */[m
[32m+[m
[32m+[m[32m/*[m
[32m+[m[32m * Add the correct display in Edge, IE 10+, and Firefox.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32mdetails {[m
[32m+[m[32m  display: block;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/*[m
[32m+[m[32m * Add the correct display in all browsers.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32msummary {[m
[32m+[m[32m  display: list-item;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/* Misc[m
[32m+[m[32m   ========================================================================== */[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * Add the correct display in IE 10+.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32mtemplate {[m
[32m+[m[32m  display: none;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32m/**[m
[32m+[m[32m * Add the correct display in IE 10.[m
[32m+[m[32m */[m
[32m+[m
[32m+[m[32m[hidden] {[m
[32m+[m[32m  display: none;[m
[32m+[m[32m}[m
[1mdiff --git a/index.html b/index.html[m
[1mindex a122596..d0f04f5 100644[m
[1m--- a/index.html[m
[1m+++ b/index.html[m
[36m@@ -3,10 +3,11 @@[m
     <head>[m
         <meta charset="UTF-8">[m
         <meta name="viewport" content="width=device-width, initial-scale=1.0">[m
[32m+[m[32m        <link rel="stylesheet" href="css/normalize.css">[m
         <link rel="stylesheet" href="css/main.css">[m
         <link rel="preconnect" href="https://fonts.gstatic.com">[m
         <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,200&display=swap" rel="stylesheet">[m
[31m-        <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">[m
[32m+[m[32m        <link rel="shortcut icon" href="img/logoV03.png" type="image/x-icon">[m
         <title>Print Email v03</title>[m
     </head>[m
     <body>[m
[36m@@ -14,7 +15,7 @@[m
         <header class="header">[m
             <div class="img-header">[m
                 <a href="#">[m
[31m-                    <img src="img/logo.png">[m
[32m+[m[32m                    <img src="img/logoV03.png">[m
                 </a>[m
             </div>    [m
             <div class="button-header">[m
[36m@@ -27,20 +28,20 @@[m
                     <form id="form">[m
 [m
                     <label for="name">First Name</label>[m
[31m-                    <input type="text" for="Name" id="inputName" required>[m
[32m+[m[32m                    <input type="text" for="Name" id="inputName">[m
 [m
                     <label for="email">Email</label>[m
[31m-                    <input type="email" for="email" id="inputEmail" required>[m
[32m+[m[32m                    <input type="email" for="email" id="inputEmail">[m
 [m
                     <label for="age">Age</label>[m
[31m-                    <input type="number" for="age" id="inputAge" required>[m
[32m+[m[32m                    <input type="number" for="age" id="inputAge">[m
 [m
                     <label for="country">Country</label>[m
[31m-                    <select for="country" id="inputCountry" required>[m
[32m+[m[32m                    <select for="country" id="inputCountry">[m
                     </select>[m
 [m
                     <label for="dni">Dni</label>[m
[31m-                    <input type="number" for="dni" id="inputDni" required>[m
[32m+[m[32m                    <input type="number" for="dni" id="inputDni">[m
 [m
                     <button id="buttonPrint">Print</button>[m
                 </form>[m
